In [1]:
%run -i 'setup.py'

import pandas as pd
import numpy as np

from src import country_data
from src.settings import BASE_DIR

In [2]:
budgets = country_data.country_budgets()
budgets

                         defence_budget  economic_affairs_budget  \
code country       year
AUS  Australia     2000          810.00                  2305.06
                   2001          876.34                  2520.57
                   2002          952.50                  2471.85
                   2003          941.96                  2630.58
                   2004          954.41                  2729.79
...                                 ...                      ...
USA  United States 2014        60919.16                 59642.97
                   2015        59874.15                 58900.14
                   2016        59902.90                 62828.36
                   2017        61595.47                 64257.30
                   2018        64942.93                 67749.42

                         education_budget  environment_protection_budget  \
code country       year
AUS  Australia     2000           2703.66                         278.31
                   2001           2873.72                         317.33
                   2002           3054.12                         359.97
                   2003           3197.41                         363.18
                   2004           3420.64                         419.68
...                                   ...                            ...
USA  United States 2014         107557.50                           0.00
                   2015         111188.11                           0.00
                   2016         114157.80                           0.00
                   2017         117005.45                           0.00
                   2018         123364.21                           0.00

                         general_public_services_budget  health_budget  \
code country       year
AUS  Australia     2000                         2594.59        3054.12
                   2001                         2384.78        3321.49
                   2002                         2434.51        3519.82
                   2003                         2443.23        3783.56
                   2004                         2607.13        4202.01
...                                                 ...            ...
USA  United States 2014                       101519.01      155813.85
                   2015                       101614.44      166514.54
                   2016                       105975.28      174124.38
                   2017                       109919.14      181783.57
                   2018                       115892.79      191662.75

                         housing_and_community_amenities_budget  \
code country       year
AUS  Australia     2000                                  420.02
                   2001                                  487.21
                   2002                                  463.23
                   2003                                  437.90
                   2004                                  502.36
...                                                         ...
USA  United States 2014                                 9269.78
                   2015                                 9473.39
                   2016                                 9745.64
                   2017                                11629.72
                   2018                                12261.75

                         public_order_and_safety_budget  \
code country       year
AUS  Australia     2000                          828.84
                   2001                          904.87
                   2002                          978.01
                   2003                         1040.06
                   2004                         1085.05
...                                                 ...
USA  United States 2014                        35493.18
                   2015                        36732.33
                   2016                        37710.33
                   2017                        39115.86
                   2018                        41241.64

                         recreation_culture_and_religion_budget  \
code country       year
AUS  Australia     2000                                  468.08
                   2001                                  443.33
                   2002                                  477.97
                   2003                                  513.95
                   2004                                  522.06
...                                                         ...
USA  United States 2014                                 4668.18
                   2015                                 4880.08
                   2016                                 5118.04
                   2017                                 5319.25
                   2018                                 5608.33

                         social_protection_budget  gross_debt  \
code country       year
AUS  Australia     2000                   5515.92    22104.04
                   2001                   5651.10    22934.30
                   2002                   5818.90    23178.93
                   2003                   6425.13    22578.58
                   2004                   6607.54    21687.28
...                                           ...         ...
USA  United States 2014                 136985.51  2376203.67
                   2015                 141829.42  2489273.49
                   2016                 145200.15  2592405.47
                   2017                 148861.74  2644538.41
                   2018                 156951.75  2817123.83

                         total_expenditure  total_revenue
code country       year
AUS  Australia     2000           19676.48       19012.85
                   2001           20505.11       20074.95
                   2002           21067.50       21494.66
                   2003           22406.06       22920.74
                   2004           23820.31       24456.83
...                                    ...            ...
USA  United States 2014          671869.14      581279.96
                   2015          691006.65      606661.90
                   2016          714762.88      615551.38
                   2017          739487.53      658644.70
                   2018          779675.58      694439.28

[555 rows x 13 columns]

In [3]:
nn_mort = country_data.neonatal_mortality()
nn_mort

,,,uncertainty,neonatal_mortality_rate
code,country,year,,
AFG,Afghanistan,1950,Median,NaN
ALB,Albania,1950,Median,NaN
DZA,Algeria,1950,Median,NaN
AND,Andorra,1950,Median,NaN
AGO,Angola,1950,Median,NaN
...,...,...,...,...
VEN,Venezuela (Bolivarian Republic of),2018,Median,15.062442
VNM,Viet Nam,2018,Median,10.560813
YEM,Yemen,2018,Median,27.024148
ZMB,Zambia,2018,Median,23.492740
ZWE,Zimbabwe,2018,Median,20.875745

In [5]:
pd.concat([budgets, nn_mort], axis=1, join='inner').drop('uncertainty', axis=1)

,,,defence_budget,economic_affairs_budget,education_budget,environment_protection_budget,general_public_services_budget,health_budget,housing_and_community_amenities_budget,public_order_and_safety_budget,recreation_culture_and_religion_budget,social_protection_budget,gross_debt,total_expenditure,total_revenue,neonatal_mortality_rate
code,country,year,,,,,,,,,,,,,,
GRC,Greece,2006,810.33,1177.05,1146.46,242.51,3471.85,1853.21,74.44,449.09,201.97,4753.06,36262.31,14179.98,12311.19,2.366256
GBR,United Kingdom,2005,4457.20,5489.25,10870.68,2673.76,8120.61,12324.00,2112.29,4600.50,1797.72,28582.19,95675.48,81028.21,74853.13,3.468892
EST,Estonia,2018,95.34,203.14,271.95,35.06,182.90,236.06,16.64,88.99,98.11,610.68,587.84,1851.77,1825.85,1.220598
ESP,Spain,2007,1466.39,7712.54,5882.38,1461.09,7210.72,8312.37,1332.14,2733.92,2298.47,18846.39,61334.12,57256.40,60078.68,2.233502
FRA,France,2017,5288.60,17495.56,16002.22,2797.80,17607.74,23727.85,3075.14,4850.22,4089.49,71911.54,367131.96,166838.16,158637.40,2.546718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA,United States,2011,70418.16,58501.36,101362.08,0.00,100436.24,137087.62,13142.79,34061.58,4567.13,133968.35,2036078.24,653545.29,482634.54,4.010373
POL,Poland,2001,698.37,1451.24,2560.43,259.30,2663.11,1811.48,545.94,845.96,396.99,7895.53,18568.79,19128.36,17097.21,5.443850
AUS,Australia,2013,1498.28,4341.16,5634.63,1136.32,5002.06,7329.02,657.58,1816.78,786.73,10808.69,61496.29,40432.29,37290.54,2.438739
BEL,Belgium,2004,366.28,1549.07,1879.50,275.90,3197.62,2277.87,153.29,549.09,426.23,5764.48,37113.12,16439.31,16386.60,2.667528
JPN,Japan,2005,3524.07,15380.47,13920.90,5299.50,18182.67,24728.92,3438.08,4933.31,1475.32,52792.26,711832.81,143689.84,125848.04,1.417330