In [3]:
%run -i 'setup.py'

import pandas as pd
import numpy as np

from sklearn.linear_model import ElasticNet
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

from src import country_data

In [5]:
df = country_data.combined()
df

                   code  defence_budget  economic_affairs_budget  \
country       year
Australia     2000  AUS          810.00                  2305.06
              2001  AUS          876.34                  2520.57
              2002  AUS          952.50                  2471.85
              2003  AUS          941.96                  2630.58
              2004  AUS          954.41                  2729.79
...                 ...             ...                      ...
United States 2014  USA        60919.16                 59642.97
              2015  USA        59874.15                 58900.14
              2016  USA        59902.90                 62828.36
              2017  USA        61595.47                 64257.30
              2018  USA        64942.93                 67749.42

                    education_budget  environment_protection_budget  \
country       year
Australia     2000           2703.66                         278.31
              2001           2873.72                         317.33
              2002           3054.12                         359.97
              2003           3197.41                         363.18
              2004           3420.64                         419.68
...                              ...                            ...
United States 2014         107557.50                           0.00
              2015         111188.11                           0.00
              2016         114157.80                           0.00
              2017         117005.45                           0.00
              2018         123364.21                           0.00

                    general_public_services_budget  health_budget  \
country       year
Australia     2000                         2594.59        3054.12
              2001                         2384.78        3321.49
              2002                         2434.51        3519.82
              2003                         2443.23        3783.56
              2004                         2607.13        4202.01
...                                            ...            ...
United States 2014                       101519.01      155813.85
              2015                       101614.44      166514.54
              2016                       105975.28      174124.38
              2017                       109919.14      181783.57
              2018                       115892.79      191662.75

                    housing_and_community_amenities_budget  \
country       year
Australia     2000                                  420.02
              2001                                  487.21
              2002                                  463.23
              2003                                  437.90
              2004                                  502.36
...                                                    ...
United States 2014                                 9269.78
              2015                                 9473.39
              2016                                 9745.64
              2017                                11629.72
              2018                                12261.75

                    public_order_and_safety_budget  \
country       year
Australia     2000                          828.84
              2001                          904.87
              2002                          978.01
              2003                         1040.06
              2004                         1085.05
...                                            ...
United States 2014                        35493.18
              2015                        36732.33
              2016                        37710.33
              2017                        39115.86
              2018                        41241.64

                    recreation_culture_and_religion_budget  \
country       year
Australia     2000                                  468.08
              2001                                  443.33
              2002                                  477.97
              2003                                  513.95
              2004                                  522.06
...                                                    ...
United States 2014                                 4668.18
              2015                                 4880.08
              2016                                 5118.04
              2017                                 5319.25
              2018                                 5608.33

                    social_protection_budget  gross_debt  total_expenditure  \
country       year
Australia     2000                   5515.92    22104.04           19676.48
              2001                   5651.10    22934.30           20505.11
              2002                   5818.90    23178.93           21067.50
              2003                   6425.13    22578.58           22406.06
              2004                   6607.54    21687.28           23820.31
...                                      ...         ...                ...
United States 2014                 136985.51  2376203.67          671869.14
              2015                 141829.42  2489273.49          691006.65
              2016                 145200.15  2592405.47          714762.88
              2017                 148861.74  2644538.41          739487.53
              2018                 156951.75  2817123.83          779675.58

                    total_revenue  neonatal_mortality_rate  u5_mortality_rate  \
country       year
Australia     2000       19012.85                 3.526892           6.186699
              2001       20074.95                 3.492919           6.078227
              2002       21494.66                 3.437476           5.987457
              2003       22920.74                 3.371362           5.905259
              2004       24456.83                 3.302830           5.822850
...                           ...                      ...                ...
United States 2014      581279.96                 3.959782           6.878153
              2015      606661.90                 3.867693           6.799975
              2016      615551.38                 3.743808           6.725240
              2017      658644.70                 3.615545           6.640237
              2018      694439.28                 3.509064           6.532755

                    maternal_mortality_rate modern_contraceptive_rate  \
country       year
Australia     2000                 8.552052                      70.8
              2001                 7.890079                      70.8
              2002                 7.756465                      70.8
              2003                 7.824608                      70.8
              2004                 7.428333                      70.8
...                                     ...                       ...
United States 2014                      NaN                       NaN
              2015                      NaN                       NaN
              2016                      NaN                       NaN
              2017                      NaN                       NaN
              2018                      NaN                       NaN

                    adolescent_fertility_rate  safely_managed_water_use_rate
country       year
Australia     2000                        NaN                            NaN
              2001                        NaN                            NaN
              2002                        NaN                            NaN
              2003                        NaN                            NaN
              2004                        NaN                            NaN
...                                       ...                            ...
United States 2014                        NaN                            NaN
              2015                        NaN                            NaN
              2016                        NaN                            NaN
              2017                        NaN                            NaN
              2018                        NaN                            NaN

[581 rows x 20 columns]

In [15]:
df.fillna('')

                   code  defence_budget  economic_affairs_budget  \
country       year
Australia     2000  AUS          810.00                  2305.06
              2001  AUS          876.34                  2520.57
              2002  AUS          952.50                  2471.85
              2003  AUS          941.96                  2630.58
              2004  AUS          954.41                  2729.79
...                 ...             ...                      ...
United States 2014  USA        60919.16                 59642.97
              2015  USA        59874.15                 58900.14
              2016  USA        59902.90                 62828.36
              2017  USA        61595.47                 64257.30
              2018  USA        64942.93                 67749.42

                    education_budget  environment_protection_budget  \
country       year
Australia     2000           2703.66                         278.31
              2001           2873.72                         317.33
              2002           3054.12                         359.97
              2003           3197.41                         363.18
              2004           3420.64                         419.68
...                              ...                            ...
United States 2014         107557.50                           0.00
              2015         111188.11                           0.00
              2016         114157.80                           0.00
              2017         117005.45                           0.00
              2018         123364.21                           0.00

                    general_public_services_budget  health_budget  \
country       year
Australia     2000                         2594.59        3054.12
              2001                         2384.78        3321.49
              2002                         2434.51        3519.82
              2003                         2443.23        3783.56
              2004                         2607.13        4202.01
...                                            ...            ...
United States 2014                       101519.01      155813.85
              2015                       101614.44      166514.54
              2016                       105975.28      174124.38
              2017                       109919.14      181783.57
              2018                       115892.79      191662.75

                    housing_and_community_amenities_budget  \
country       year
Australia     2000                                  420.02
              2001                                  487.21
              2002                                  463.23
              2003                                  437.90
              2004                                  502.36
...                                                    ...
United States 2014                                 9269.78
              2015                                 9473.39
              2016                                 9745.64
              2017                                11629.72
              2018                                12261.75

                    public_order_and_safety_budget  \
country       year
Australia     2000                          828.84
              2001                          904.87
              2002                          978.01
              2003                         1040.06
              2004                         1085.05
...                                            ...
United States 2014                        35493.18
              2015                        36732.33
              2016                        37710.33
              2017                        39115.86
              2018                        41241.64

                    recreation_culture_and_religion_budget  \
country       year
Australia     2000                                  468.08
              2001                                  443.33
              2002                                  477.97
              2003                                  513.95
              2004                                  522.06
...                                                    ...
United States 2014                                 4668.18
              2015                                 4880.08
              2016                                 5118.04
              2017                                 5319.25
              2018                                 5608.33

                    social_protection_budget  gross_debt  total_expenditure  \
country       year
Australia     2000                   5515.92    22104.04           19676.48
              2001                   5651.10    22934.30           20505.11
              2002                   5818.90    23178.93           21067.50
              2003                   6425.13    22578.58           22406.06
              2004                   6607.54    21687.28           23820.31
...                                      ...         ...                ...
United States 2014                 136985.51  2376203.67          671869.14
              2015                 141829.42  2489273.49          691006.65
              2016                 145200.15  2592405.47          714762.88
              2017                 148861.74  2644538.41          739487.53
              2018                 156951.75  2817123.83          779675.58

                    total_revenue neonatal_mortality_rate u5_mortality_rate  \
country       year
Australia     2000       19012.85                 3.52689            6.1867
              2001       20074.95                 3.49292           6.07823
              2002       21494.66                 3.43748           5.98746
              2003       22920.74                 3.37136           5.90526
              2004       24456.83                 3.30283           5.82285
...                           ...                     ...               ...
United States 2014      581279.96                 3.95978           6.87815
              2015      606661.90                 3.86769           6.79997
              2016      615551.38                 3.74381           6.72524
              2017      658644.70                 3.61555           6.64024
              2018      694439.28                 3.50906           6.53275

                   maternal_mortality_rate modern_contraceptive_rate  \
country       year
Australia     2000                 8.55205                      70.8
              2001                 7.89008                      70.8
              2002                 7.75646                      70.8
              2003                 7.82461                      70.8
              2004                 7.42833                      70.8
...                                    ...                       ...
United States 2014
              2015
              2016
              2017
              2018

                   adolescent_fertility_rate safely_managed_water_use_rate
country       year
Australia     2000
              2001
              2002
              2003
              2004
...                                      ...                           ...
United States 2014
              2015
              2016
              2017
              2018

[581 rows x 20 columns]

In [ ]:
pipeline_steps = [
    ColumnTransformer(
        [
            (
                "onehotencoder",
                OneHotEncoder(
                    sparse=False,
                    handle_unknown="ignore",
                ),
                ['country'],
            )
        ],
        remainder=StandardScaler(),
    )
]