In [1]:
%run -i 'setup.py'

import pandas as pd
import numpy as np

from sklearn.linear_model import ElasticNet
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

from src import country_data
from src import ml_model

In [2]:
df = country_data.combined()
df

                   code  defence_budget  economic_affairs_budget  \
country       year
Australia     2000  AUS          810.00                  2305.06
              2001  AUS          876.34                  2520.57
              2002  AUS          952.50                  2471.85
              2003  AUS          941.96                  2630.58
              2004  AUS          954.41                  2729.79
...                 ...             ...                      ...
United States 2014  USA        60919.16                 59642.97
              2015  USA        59874.15                 58900.14
              2016  USA        59902.90                 62828.36
              2017  USA        61595.47                 64257.30
              2018  USA        64942.93                 67749.42

                    education_budget  environment_protection_budget  \
country       year
Australia     2000           2703.66                         278.31
              2001           2873.72                         317.33
              2002           3054.12                         359.97
              2003           3197.41                         363.18
              2004           3420.64                         419.68
...                              ...                            ...
United States 2014         107557.50                           0.00
              2015         111188.11                           0.00
              2016         114157.80                           0.00
              2017         117005.45                           0.00
              2018         123364.21                           0.00

                    general_public_services_budget  health_budget  \
country       year
Australia     2000                         2594.59        3054.12
              2001                         2384.78        3321.49
              2002                         2434.51        3519.82
              2003                         2443.23        3783.56
              2004                         2607.13        4202.01
...                                            ...            ...
United States 2014                       101519.01      155813.85
              2015                       101614.44      166514.54
              2016                       105975.28      174124.38
              2017                       109919.14      181783.57
              2018                       115892.79      191662.75

                    housing_and_community_amenities_budget  \
country       year
Australia     2000                                  420.02
              2001                                  487.21
              2002                                  463.23
              2003                                  437.90
              2004                                  502.36
...                                                    ...
United States 2014                                 9269.78
              2015                                 9473.39
              2016                                 9745.64
              2017                                11629.72
              2018                                12261.75

                    public_order_and_safety_budget  \
country       year
Australia     2000                          828.84
              2001                          904.87
              2002                          978.01
              2003                         1040.06
              2004                         1085.05
...                                            ...
United States 2014                        35493.18
              2015                        36732.33
              2016                        37710.33
              2017                        39115.86
              2018                        41241.64

                    recreation_culture_and_religion_budget  \
country       year
Australia     2000                                  468.08
              2001                                  443.33
              2002                                  477.97
              2003                                  513.95
              2004                                  522.06
...                                                    ...
United States 2014                                 4668.18
              2015                                 4880.08
              2016                                 5118.04
              2017                                 5319.25
              2018                                 5608.33

                    social_protection_budget  gross_debt  total_expenditure  \
country       year
Australia     2000                   5515.92    22104.04           19676.48
              2001                   5651.10    22934.30           20505.11
              2002                   5818.90    23178.93           21067.50
              2003                   6425.13    22578.58           22406.06
              2004                   6607.54    21687.28           23820.31
...                                      ...         ...                ...
United States 2014                 136985.51  2376203.67          671869.14
              2015                 141829.42  2489273.49          691006.65
              2016                 145200.15  2592405.47          714762.88
              2017                 148861.74  2644538.41          739487.53
              2018                 156951.75  2817123.83          779675.58

                    total_revenue  neonatal_mortality_rate  u5_mortality_rate  \
country       year
Australia     2000       19012.85                 3.526892           6.186699
              2001       20074.95                 3.492919           6.078227
              2002       21494.66                 3.437476           5.987457
              2003       22920.74                 3.371362           5.905259
              2004       24456.83                 3.302830           5.822850
...                           ...                      ...                ...
United States 2014      581279.96                 3.959782           6.878153
              2015      606661.90                 3.867693           6.799975
              2016      615551.38                 3.743808           6.725240
              2017      658644.70                 3.615545           6.640237
              2018      694439.28                 3.509064           6.532755

                    maternal_mortality_rate  modern_contraceptive_rate  \
country       year
Australia     2000                 8.552052                       70.8
              2001                 7.890079                       70.8
              2002                 7.756465                       70.8
              2003                 7.824608                       70.8
              2004                 7.428333                       70.8
...                                     ...                        ...
United States 2014                      NaN                        NaN
              2015                      NaN                        NaN
              2016                      NaN                        NaN
              2017                      NaN                        NaN
              2018                      NaN                        NaN

                    adolescent_fertility_rate  safely_managed_water_use_rate
country       year
Australia     2000                        NaN                            NaN
              2001                        NaN                            NaN
              2002                        NaN                            NaN
              2003                        NaN                            NaN
              2004                        NaN                            NaN
...                                       ...                            ...
United States 2014                        NaN                            NaN
              2015                        NaN                            NaN
              2016                        NaN                            NaN
              2017                        NaN                            NaN
              2018                        NaN                            NaN

[581 rows x 20 columns]

In [3]:
X, y = ml_model.prepare_data(df)


X_train, X_test, y_train, y_test = ml_model.split_data(X, y)

In [4]:
ml_pipeline = ml_model.pipeline()
ml_pipeline.fit(X_train, y_train)
y_pred = ml_pipeline.predict(X_test)

y_pred

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/base.py:465: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/pipeline.py:605: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  res = transformer.transform(X)

array([[ 2.64554253,  4.55248773,  8.26161663, 46.78498906,  3.56445663,
        36.02774104],
       [ 2.64554253,  4.52933256,  8.23113243, 47.10553009,  3.67883839,
        35.98478305],
       [ 2.64554253,  4.55248773,  8.4854487 , 43.12566336,  3.3381246 ,
        37.32248578],
       [ 2.64554253,  4.52933256,  8.47534467, 43.16654171,  3.43839905,
        37.37995118],
       [ 2.64554253,  4.55248773,  8.40566586, 44.99501363,  3.41890503,
        41.04823735],
       [ 2.64554253,  4.52933256,  8.39641671, 45.05712316,  3.52064765,
        41.11313516],
       [ 2.64554253,  4.55248773,  8.78470031, 42.55574224,  4.28129604,
        38.35789462],
       [ 2.64554253,  4.55248773,  8.5891874 , 41.55250767,  3.37366342,
        37.51656463],
       [ 2.64554253,  4.52933256,  8.57872939, 41.6730066 ,  3.47626167,
        37.5905561 ],
       [ 2.64554253,  4.55248773,  8.59608526, 40.60258709,  3.32685829,
        37.6064229 ],
       [ 2.64554253,  4.52933256,  8.59255076, 40.6084901 ,  3.42631047,
        37.68819333],
       [ 2.64554253,  4.55248773,  8.76589875, 40.60283628,  3.30431852,
        37.89013291],
       [ 2.64554253,  4.52933256,  8.76457105, 40.58649755,  3.40367297,
        37.96878126],
       [ 2.64554253,  4.55248773,  8.61123832, 42.47041565,  3.30876593,
        42.00125243],
       [ 2.64554253,  4.52933256,  8.60529058, 42.48816947,  3.40807034,
        42.08483129],
       [ 2.64554253,  4.55248773,  6.73269244, 64.64569774,  3.96328215,
        32.61529535],
       [ 2.64554253,  4.52933256,  6.67955537, 65.24873486,  4.0797613 ,
        32.54814661],
       [ 2.64554253,  4.55248773,  6.49235119, 66.34885502,  3.94975161,
        39.02499469],
       [ 2.64554253,  4.52933256,  6.43078205, 66.97076389,  4.06522736,
        39.01864586],
       [ 2.64554253,  4.55248773,  8.60296954, 41.80909566,  3.39446093,
        41.23891717],
       [ 2.64554253,  4.52933256,  8.59707263, 41.81191285,  3.49653961,
        41.27481038],
       [ 2.64554253,  4.55248773,  8.59299574, 44.79472203,  3.32660088,
        38.13325262],
       [ 2.64554253,  4.52933256,  8.5811861 , 45.06288438,  3.42736154,
        38.24418002],
       [ 2.64554253,  4.55248773,  8.77577721, 40.25206084,  3.29922758,
        39.44632951],
       [ 2.64554253,  4.52933256,  8.77509003, 40.22218601,  3.39827458,
        39.52346517],
       [ 2.64554253,  4.55248773,  8.67187122, 41.64288561,  3.33003297,
        37.4648594 ],
       [ 2.64554253,  4.52933256,  8.66280659, 41.68187969,  3.43166596,
        37.50708158],
       [ 2.64554253,  4.55248773,  8.64827956, 40.71459744,  3.3418284 ,
        41.86544634],
       [ 2.64554253,  4.52933256,  8.64174088, 40.77042213,  3.44282978,
        41.94266717],
       [ 2.64554253,  4.55248773,  7.26439467, 53.44823353,  3.83340377,
        30.85519285],
       [ 2.64554253,  4.52933256,  7.24544955, 53.66683032,  3.93953183,
        30.97467512],
       [ 2.64554253,  4.55248773,  6.36347066, 60.39874609,  4.76474901,
        19.90558816],
       [ 2.64554253,  4.52933256,  6.32024941, 60.71413659,  4.88979885,
        19.64287634],
       [ 2.64554253,  4.55248773,  8.76018992, 38.88003758,  3.30381324,
        37.82774445],
       [ 2.64554253,  4.52933256,  8.75818691, 38.86590019,  3.40321298,
        37.90202283],
       [ 2.64554253,  4.55248773,  8.75170529, 40.4671021 ,  3.30575332,
        37.83281559],
       [ 2.64554253,  4.52933256,  8.74981361, 40.44229193,  3.40506249,
        37.90798772],
       [ 2.64554253,  4.55248773,  8.74905804, 39.00981217,  3.3120717 ,
        42.00007212],
       [ 2.64554253,  4.52933256,  8.74727845, 38.98781795,  3.41162637,
        42.07397178],
       [ 2.64554253,  4.55248773,  8.33024218, 49.3602253 ,  3.60240267,
        41.07930467],
       [ 2.64554253,  4.52933256,  8.31284195, 49.69653354,  3.71335235,
        41.16346157],
       [ 2.64554253,  4.55248773,  8.58903261, 44.70534865,  3.36740462,
        41.88606803],
       [ 2.64554253,  4.52933256,  8.57614617, 44.85670009,  3.47079893,
        41.9419896 ],
       [ 2.64554253,  4.55248773,  8.20675037, 46.50775783,  3.40160396,
        41.29241714],
       [ 2.64554253,  4.52933256,  8.17720179, 46.78320173,  3.50541299,
        41.35386768],
       [ 2.64554253,  4.55248773,  8.58313807, 42.77264894,  3.3423456 ,
        37.11267248],
       [ 2.64554253,  4.52933256,  8.57972157, 42.75973967,  3.44201704,
        37.19088701],
       [ 2.64554253,  4.55248773,  8.70016197, 39.32893665,  3.3266128 ,
        37.65373661],
       [ 2.64554253,  4.52933256,  8.69571853, 39.32674986,  3.42695875,
        37.71971914],
       [ 2.64554253,  4.55248773,  8.74630902, 38.91016651,  3.30449251,
        37.80522426],
       [ 2.64554253,  4.52933256,  8.74423765, 38.89191946,  3.40378261,
        37.88340079],
       [ 2.64554253,  4.55248773,  7.86393092, 52.63111533,  3.66936179,
        35.39319912],
       [ 2.64554253,  4.52933256,  7.83922474, 52.90411886,  3.77721543,
        35.43089066],
       [ 2.64554253,  4.55248773,  8.4733803 , 40.87057345,  3.33515966,
        41.66486491],
       [ 2.64554253,  4.52933256,  8.46130508, 40.92467295,  3.43550561,
        41.73246181],
       [ 2.64554253,  4.55248773,  8.53924477, 43.63656404,  3.37903559,
        37.43975928],
       [ 2.64554253,  4.52933256,  8.53109232, 43.685257  ,  3.48061614,
        37.50175709],
       [ 2.64554253,  4.55248773,  7.43586159, 51.84791994,  3.80252687,
        36.70412001],
       [ 2.64554253,  4.52933256,  7.40946668, 52.08589568,  3.91140776,
        36.76904274],
       [ 2.64554253,  4.55248773,  0.98036175,  4.08856806,  3.2964557 ,
        -4.46249115],
       [ 2.64554253,  4.52933256,  0.5540978 ,  1.89125552,  3.39531679,
        -7.03989098]])

In [5]:
mean_absolute_error(y_test, y_pred)

13.284025214183856